@using projekt.Data.Models
@model IEnumerable<Uzytkownik>

<h1>Lista Użytkowników:</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Imie
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Id
                </td>
                <td>
                    @obj.Imie
                </td>
                <td>
                    @obj.Nazwisko
                </td>
                <td>
                    @obj.Email
                </td>
                <td style="width:12%">
                    <a asp-controller="Uzytkownik" asp-action="Edytuj" asp-route-Id=@obj.Id>
                        <button type="button" class="btn btn-info" >Edytuj</button>
                    </a>
                    <a asp-controller="Uzytkownik" asp-action="Usun" asp-route-Id=@obj.Id>
                        <button type="button" class="btn btn-warning">Usuń</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>